*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-weight: 900;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.t2rem {
  font-size: 1.75rem;
}

.abstract {
  font-size: 1.25rem;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

.banner-wrapper img, .banner-wrapper p{
  /* margin-top: 1rem; */
  align-self: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0rem;
}

.flex-infobanner {
  font-weight: 900;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2A2522;
  height: 75vh;
  margin: 0;
  padding: 0;
  color: #CED2DC;
  text-align: center;
}

.banner h1 {
  margin: 0;
  padding: 0;
}


.flex-infobanner > * {
  flex: 1;
}

.nav-time {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 2rem;
}

.nav-time > *{
  margin: 0;
  padding: 0;
}

.nav-time-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.flex-infobanner  h3 {
  padding: 0;
  margin: 0;
}

.nav-time-weather {
  background-color: #F2F5FA;
  margin: 0;
  padding: 0;
}

.nav-time-weather > * {
  margin: 0;
  padding: 0;
}

.nav-weather {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  padding-bottom: 2rem;
  border-radius: 25px;
  color: #F2F5FA;
  border: #C30011 1px solid ;

}

.nav-weather > img {
  padding: 1.5rem 0;
}

.banner-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-hero-button {
  background-color: #C30011;
  border: none;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.5rem;
  color: #CED2DC;
  font-weight: 900;
  cursor: pointer;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.arrow {
  cursor: pointer;

}

.arrow > div {
  padding: .1rem;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #C30011;
  border-right: 5px solid #C30011;
  transform: rotate(45deg);
  animation: scroll 2s infinite;
}

.arrow > div:nth-child(2){
  animation-delay: -.2s;
}
.arrow > div:nth-child(3){
  animation-delay: -.2s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); 
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); 

  }
}

.nav {
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
  justify-content: space-around;
  background-color: #2A2522;
}

.nav h1 {
  margin: 0;
  padding: 0;
}

nav { 
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}


.nav-item {
  text-shadow: 1px 1px black;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #CED2DC;
  color: #F2F5FA;
}

.active {
  font-size: 2rem;
  border-radius: 25px;
}


ul {
  padding: 0;
  margin: 0;
}

.news-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}
.news-header h1{
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 1.75rem;
}

.news-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-card {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0rem 2.5rem;
  border-bottom: 1px solid #2A2522;
  margin: 0;
  background-color: #2A2522;
}

.nyTimes {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

[class*='guardian'] {
  background-color: rgb(16, 41, 95);
  font-family: Georgia, serif;
}

.cnn {
  background-color: rgb(198, 23, 7)
}

[class*='cbs'] {
  background-color: rgb(34,67,197);
}

.cnbc {
  background-color: rgb(34, 84, 143);
}

[class*='nbcsports'] {
  background-color: black;
}

[class*='bbc'] {
  background-color: black;
}

.motor1 {
  background-color: black;
}

.tmz, .youtube, .wccftech  {
  background-color: black;
}

.nflnews{
  background-color: rgb(18, 50, 100);
}

.cbssports {
  background-color: rgb(28, 72, 198);
}

.newyorkpost {
  background-color: rgb(188, 64, 58);
}

.politico {
  background-color: rgb(178, 46, 39);
  
}

.news-content {
  background-color: white;
  padding: .5rem 1rem;
}


/*                         */
/*                         */
/* CSS FOR ABOUT PAGE ONLY */
/*                         */
/*                         */

.carrasoul {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.carousel_slide {
  position: absolute;
  width: 100%;
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  background-color: #CED2DC;
}

.aboutInfo-container {
  position: relative;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
}

.aboutInfo-container:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

.aboutInfo-container > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.aboutInfo-container > ul >  li {
  list-style: none;
  background-color: #2A2522;
}
.aboutInfo-container > ul > li > a {
  font-style: none;
  color: white;
}

.aboutInfo-container > form {
  padding: 1rem;
  background-color: #2A2522;
  color: #F2F5FA;
}
.aboutInfo-container > form button {
  border: none;
  background-color: #C30011;
  color: #F2F5FA;
  font-size: 1rem;
  text-transform: uppercase;
}


.About a {
  font-size: 1rem;
  font-weight: 600;
}

.About ul {
  list-style: none;
}

.About ul li {
  padding: 0 1rem;
}

.profile-card {
  display: flex;
  justify-content: center;
  text-align: center;
}

#team {
  text-align: center;
}

.profile-card div {
  background-color: #2A2522;
  color: #F2F5FA;
}
.profile-card a{
  color: #F2F5FA;
}

.About form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

/*                         */
/*   END END END END END   */               
/* CSS FOR ABOUT PAGE ONLY */
/*                         */
/*                         */





/*                         */
/*                         */
/* CSS FOR BLOG PAGE ONLY  */
/*                         */
/*                         */

.blogs-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2A2522;
  color: #F2F5FA;
}

.blogs-wrapper {
  border-bottom: black 1.5px solid;
  padding-top: 1rem;
}

.blogs-post {
  display: flex;
  flex-direction: column;
  /* background-color: #CED2DC; */
  color: #CED2DC;
}

.blogs-post-header {
  display: flex;
  padding: 0 1rem;
}

.blogs-post-header > div {
  display: flex;
  background-color:#F2F5FA;
  align-items: center;
}


.blogs-post-header > h2{
  font-size: 2.5rem;
  padding: 0 1rem;
}

.blog-description-wrapper {
  display: flex;
  justify-content: space-around;
}

.blog-discription {
  background-color: #2A2522;
  padding: .5rem 1rem;
}

.blog-stats {
  display: flex;
  background-color: #F2F5FA;
  opacity: .5;
  color: #2A2522;
  justify-content: space-around;
}

.blog-likes {
  display: flex;
}
.blog-comments {
  display: flex;
}


/*                         */
/*   END END END END END   */               
/* CSS FOR BLOG PAGE ONLY  */
/*                         */
/*                         */



.logos-container {
  width: 50%;
}



#logos-container {
  margin-bottom: 4rem;
}

/*        */
/*        */
/* FOOTER */
/*        */  
/*        */

.component-footer {
  background-color: #2A2522;
  color: #F2F5FA;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.copyright {
  margin: 0;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

.footer-logos-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  width: 50%;
}

#contact-us{
  font-size: 1.5rem;
}



@media (max-width: 600px) {
  .news-header{
    flex-direction: column;
  }
  .news-header h1 {
    padding: 0;
    margin: 0;
  }
  .news-header img{
    width: 50%;
  }
  .profile-card {
    flex-direction: column;
    align-items: center;
  }
  .profile-card div {
    width: 80%;
  }
  .profile-card img {
    width: 80%;
  }
}



.react-video-player {
  background-color: #2A2522;
  opacity: .2;
  position: absolute;
}